<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.elemath">


    <application
        android:allowBackup="true"
        android:icon="@drawable/twentyelements"
        android:label="@string/app_name"
        android:roundIcon="@drawable/twentyelements"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elemath">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Elemath.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>